fastapi
uvicorn[standard]
pydantic
pydantic-settings
starlette
python-multipart
sqlalchemy
greenlet
python-jose[cryptography]
argon2-cffi
asyncpg
alembic
pymetasploit3
pexpect
tqdm
PyYAML
pymetasploit3
